.room-create-form {

}

.room-create-form > form {
	width:340px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-create-form > form > p {
	font-size:0.65rem;
	color:#a4a4a4;
	margin:2px;
}

.room-create-form > form > input {
	width:100%;
}

.room-create-form > form > label {
	margin:3px;
}