.room-join-form {

}

.room-join-form > form {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	width:340px;
}

.room-join-form > form > input {
	width:100%;
}

.room-join-form > form > label {
	margin:9px 3px 3px 3px;
}