#room-root {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-root-app-side {
	width:80%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-root-aside {
	width:20%;
	min-width:180px;
	height:100%;
	background-color:#262626;
	display:flex;
	flex-direction:column-reverse;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-aside-leave {
	width:100%;
	height:45px;
}


.room-aside-leave > button {
	border:none;
	background:none;
	border-top:1px solid rgba(0,0,0,0.08);
	transition-duration:200ms;
	width:100%;
	height:100%;
	font-size:0.8rem;
	font-weight:600;
	color:#fbfbfb;
	background-color:#66cc33;
	cursor:pointer;
}

.room-aside-leave > button:hover {
	background-color:#339900;
}

.room-header {
	width:100%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-header-title {
	margin:10px 24px;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
}

.room-header-title > h2 {
	font-size:2.2rem;
	font-weight:600;
}

.room-header-title > p {
	margin-top:0px;
	font-size:0.9rem;
	font-weight:400;
	color:#a4a4a4;
}

.room-body {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-chat-app {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.chat-app-messages {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	padding:0px 24px;
}

.chat-app-input {
	max-height:45px;
	height:45px;
	min-height:45px;
	width:100%;
	display:flex;
	padding:6px;
	border-top:1px solid #dadada;
	position:relative;
}

.chat-app-input > label {
	position:absolute;
	font-weight:400;
	font-size:0.8rem;
	color:#dadada;
	margin:4px 0px 0px 4px;
}

.chat-app-input > textarea {
	width:100%;
	height:100%;
	border:none;
	padding:4px;
	font-size:0.8rem;
	color:#262626;
	background:none;
}
