#room-root {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-root-app-side {
	width:80%;
	height:100%;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-root-aside {
	width:20%;
	min-width:180px;
	height:100%;
	background-color:#262626;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-root-aside-content {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
}

.room-root-aside-footer {
	width:100%;
	height:45px;
}

.room-aside-title {
	width:100%;
	display:flex;
	flex-direction:row;
	padding:14px 0px 8px 14px;
}

.room-aside-title > div > h2 {
	font-size:1.4rem;
	font-weight:600;
	color:#fbfbfb;
}

.room-aside-title > div > p {
	margin-top:0px;
	font-size:0.9rem;
	font-weight:400;
	color:#a4a4a4;
}

.room-aside-leave {
	width:100%;
	height:100%;
	align-self:flex-end;
}

.room-aside-leave > button {
	border:none;
	background:none;
	border-top:1px solid rgba(0,0,0,0.08);
	transition-duration:200ms;
	width:100%;
	height:100%;
	font-size:0.8rem;
	font-weight:600;
	color:#fbfbfb;
	background-color:#66cc33;
	cursor:pointer;
}

.room-aside-leave > button:hover {
	background-color:#339900;
}

.room-header {
	width:100%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-body {
	width:100%;
	height:100%;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	justify-content:flex-start;
}

.room-chat-app {
	width:100%;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
}

.chat-app-messages {
	width:100%;
	height:100%;
	padding:4px 8px;
	overflow-y:auto;
}

.chat-app-messages::-webkit-scrollbar {
    width:7px;
}
 
.chat-app-messages::-webkit-scrollbar-track {
    background:rgba(0,0,0,0.2);
}
 
.chat-app-messages::-webkit-scrollbar-thumb {
  background-color:#434343;
  outline: 1px solid #434343;
  border-radius:10px;
}

.chat-app-input {
	max-height:45px;
	height:45px;
	min-height:45px;
	width:100%;
	display:flex;
	padding:6px;
	border-top:1px solid #dadada;
	position:relative;
}

.chat-app-input > label {
	position:absolute;
	font-weight:400;
	font-size:0.8rem;
	color:#dadada;
	margin:4px 0px 0px 6px;
	z-index:2;
}

.chat-app-input > textarea {
	width:100%;
	height:100%;
	border:none;
	padding:4px;
	font-size:0.8rem;
	color:#262626;
	background:none;
	z-index:3;
}
