.room-aside-users-list {
	width:100%;
	padding:8px 0px 8px 0px;
}

.users-list-title {
	width:100%;
	padding:8px;
	background-color:#fbfbfb;
	border-top:1px solid rgba(0,0,0,0.1);
	border-bottom:1px solid rgba(0,0,0,0.1);
}

.users-list-title > h3 {
	font-size:0.7rem;
	color:#434343;
}

.users-list-body {
	width:100%;
}

.users-list-body-users {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.users-list-item {
	width:100%;
	margin:5px 0px;
	padding:4px 12px;
	cursor:pointer;
}

.users-list-item-info {
	display:flex;
	flex-direction:row;
	align-items:center;
}

.user-item-info-basic {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	margin-left:6px;
}

.users-list-item-info > img {
	width:32px;
	height:32px;
	border-radius:100%;
	box-shadow:0px 0px 0px 1px rgba(255,255,255,0.1);
}

.user-item-info-username > p {
	font-weight:600;
	font-size:0.9rem;
	color:#fbfbfb;
}

.user-item-info-grade > p {
	font-size:0.7rem;
}

.user-item-info-grade > .room-admin {
	color:#ff0033;
	text-shadow:0px 0px 1px #ff0033;
}

.user-item-info-grade > .room-member {
	color:#d2d2d2;
	text-shadow:0px 0px 1px #e6e6e6;
}